<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to sp33c.de,</h1>
    <p>
      You have successfully signed up to our service!
      Your username is: <%= @user.email %>.<br>
    </p>

    <p>your password is: <%= @password %></p>

    <!--<p>Please, confirm registration the next 48h at this link and at best change password.@TODO.....</p>-->

    <p>Thanks for joining and have a great day!</p>

  </body>
</html>

