<!-- START THE FEATURETTES -->

<!--<hr class="featurette-divider">-->

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">First aspect. <span class="text-muted">Security.</span>
        </h2>

        <a href="https://github.com/plataformatec/devise">Devise</a> and a specific angular <a href="https://github.com/afitterling/rails4base/blob/master/app/controllers/angular_templates_controller.rb#L1">template controller</a> with matching <a href="https://github.com/afitterling/rails4base/blob/master/config/routes.rb">routes patterns</a> are helping to securely seal the app server and client side.
        Rails controls status codes server side, a specific <a href="https://github.com/afitterling/rails4base/blob/master/app/assets/javascripts/scripts/app.js#L30">$httpInterceptor</a> processes these codes client side.



    </div>

</div>

<hr class="featurette-divider">
