<!-- START THE FEATURETTES -->

<!--<hr class="featurette-divider">-->

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Security. <span class="text-muted">First aspect.</span>
        </h2>

        Devise and a specific angular template controller with matching routes patterns (<a href="https://github.com/afitterling/rails4base/blob/master/config/routes.rb">routes.rb</a>) are helping to securely seal the app server and client side.
        Rails controls status codes server side, a specific $httpInterceptor processes these codes client side.



    </div>

</div>

<hr class="featurette-divider">
