<!-- START THE FEATURETTES -->

<!--<hr class="featurette-divider">-->

<div class="row featurette">
    <div class="col-md-7" ng-controller="DemoCtrl">
        <h2 class="featurette-heading">First aspect. <span class="text-muted">Security.</span>
        </h2>

        <p class="lead">
            <a href="https://github.com/plataformatec/devise">Devise</a> and a specific Rails
            <a href="https://github.com/afitterling/rails4base/blob/master/app/controllers/angular_templates_controller.rb#L1"><em>angular
                template controller</em></a> that gets matched against
            <a href="https://github.com/afitterling/rails4base/blob/master/config/routes.rb">route patterns</a> are
            helping together
            to securely seal the app server and client side.
            Rails controls status codes server side, a specific
            <a href="https://github.com/afitterling/rails4base/blob/master/app/assets/javascripts/scripts/app.js#L30">response
                interceptor</a>
            processes these codes client side.</p>
        <p class="lead">Not only your partials also your API can get protected <button class="btn btn-default" ng-click="getDemoData()">get data</button></p>

        <p class="lead"><span ng-class="{'text-danger': data.status==401, 'text-success': data.status==200 }">{{data && 'server response = '}}{{data | json}}</span></p>

    </div>
    <div class="col-md-5" ng-controller="DemoCtrl">

    </div>

</div>


<div class="row featurette">
    <!--<div class="col-md-5">-->
    <!--</div>-->
    <div class="col-md-7">
        <h2 class="featurette-heading">Second. <span class="text-muted">Scalability.</span>
        </h2>

        <p class="lead"> It is built on top of JBoss (<a href="http://torquebox.org">Torquebox</a>). It provides
            load balancing features and features from
            clustered computing or multi tear environments. It features itself server side multi node and server to
            client
            messaging systems, <a href="http://en.wikipedia.org/wiki/HornetQ">HornetQ</a> and
            <a href="http://en.wikipedia.org/wiki/Streaming_Text_Oriented_Messaging_Protocol">STOMP (Streaming Text
                Orientated Messaging Protocol)</a>, to be able to even
            communicate to the client's browser bi-directional via
            <a href="http://jmesnil.net/stomp-websocket/doc/">WebSocket</a>.
        </p>
    </div>

</div>

<hr class="featurette-divider">


