<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Scaleable. <span class="text-muted">It'll blow your mind.</span>
        </h2>

        <p class="lead">This is a Rails 4 app deployed on JBoss (<a href="http://torquebox.org/">Torquebox</a>)! No name collisions anymore, secure, linear scalable, redundant, zero-downtime deployments!</p>

        <p class="lead"><a href="https://github.com/afitterling/rails4base">Check out at <em>GitHub</em>.</a></p>

    </div>

</div>
