<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Profile page.
        </h2>

        <% if Rails.env.development? %>
            {{currentUser | json}}
        <% end %>

        <p class="lead">
            <span class="text-warning" ng-show="!currentUser.confirmed">Account still unconfirmed - see your mail for instructions!</span>
            <span class="text-success" ng-show="currentUser.confirmed">Account confirmed</span>
        </p>

        <form name="PasswordChangeForm" ng-controller="AccountCtrl" class="margin-base-vertical" ng-submit="changePassword(password)" novalidate>

            <legend>Change Password Form</legend>

            <label>Your Password</label>

            <p ng-show="PasswordChangeForm.password.$error.required"><span class="text-warning">Type password!</span>
            </p>

            <p ng-show="PasswordChangeForm.password.$error.minlength"><span class="text-danger">Too short!</span></p>

            <p class="input-group" ng-class="{ 'has-error': PasswordChangeForm.password.$error.required || PasswordChangeForm.password.$error.minlength }">
                <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
                <input type="password" class="form-control input-large" ng-model="password" name="password"
                       ng-pattern="" placeholder="" ng-minlength="8" required=""/>
            </p>

            <label>Password Confirmation</label>

            <p ng-hide="password.length > 0">
                <span class="text-warning">Repeat password!</span>
            </p>

            <p ng-show="password != password_repeat">
                <span class="text-danger">Passwords do not match!</span>
            </p>

            <p class="input-group" ng-class="{ 'has-error': PasswordChangeForm.password_repeat.$error.required || PasswordChangeForm.password_repeat.$error.minlength }">
                <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
                <input type="password" class="form-control input-large" ng-model="password_repeat" name="password_repeat"
                       ng-pattern="" placeholder="" ng-minlength="8" required=""/>
            </p>

            <p class="text-center">
                <button ng-hide="" style="" type="submit" ng-disabled="!PasswordChangeForm.$valid || password != password_repeat" class="btn btn-success btn-large">
                    <span>Change Password</span>
                </button>
            </p>

        </form>

    </div>

</div>

<hr class="featurette-divider">
