<div class="row">
    <div class="col-lg-6 col-offset-3 panel" ng-show="!userLoggedIn">
        <h3 class="margin-base-vertical">User Sign in</h3>

        <!-- <h3 class="margin-base-vertical">Leave a message</h3> -->
        <form name="SignInForm" ng-controller="SignInCtrl" class="margin-base-vertical" ng-submit="submit()"
              novalidate="">

            <label for="email">Your Email address</label>

            <p ng-show="SignInForm.email.$error.required"><span class="text-warning">Fill in your email address!</span></p>
            <p ng-show="SignInForm.email.$error.pattern"><span class="text-danger">Needs valid pattern such as e.g. name@domain.com!</span></p>
            <p ng-show="SignInForm.email.$valid"><span class="text-success">Looks good.</span></p>
            <p class="input-group" ng-class="{ 'has-error': SignInForm.email.$error.pattern || SignInForm.email.$error.required }">
                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                <input id="email" type="email" class="form-control input-large" ng-model="email" name="email" ng-pattern="EMAIL_REGEXP" placeholder="" required />
            </p>

            <label>Your Password</label>

            <p ng-show="SignInForm.password.$error.required"><span class="text-warning">Type password!</span></p>
            <p ng-show="SignInForm.password.$error.minlength"><span class="text-danger">too short!</span></p>
            <p ng-show="SignInForm.password.$valid"><span class="text-success">hit enter key or click submit if you think password is complete.</span></p>

            <p class="input-group" ng-class="{ 'has-error': SignInForm.password.$error.required || SignInForm.password.$error.minlength }">
                <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
                <input type="password" class="form-control input-large" ng-model="password" name="password"
                       ng-pattern="" placeholder="" ng-minlength="8" required=""/>
            </p>


            <p class="text-center">
                <button style="" type="submit" ng-disabled='!SignInForm.$valid || sent' class="btn btn-success btn-large">
                    <!--<span ng-hide="sent || pending">Send Message</span>-->
                    <!--<span ng-show="sent">Message sent.</span>-->
                    <!--<span ng-show="pending">Please, wait ...</span>-->
                    <span>sign in!</span>
                </button>
            </p>

        </form>
    </div>
</div>
