<div class="row">
    <div class="col-lg-6 col-offset-3 panel">
        <h3 class="margin-base-vertical">User Sign in</h3>

        <!-- <h3 class="margin-base-vertical">Leave a message</h3> -->
        <form name="MessageBox" ng-controller="SessionCtrl" class="margin-base-vertical" ng-submit="submit()"
              novalidate="">

            <label>Your Email address</label>

            <p ng-show="MessageBox.email.$error.pattern || MessageBox.email.$error.required"><span class="warning">Fill in your email address!</span>
            </p>
            <!-- <p ng-show="MessageBox.email.$error.required"><span class="warning">Fill in your email address!</span></p> -->
            <p class="input-group" ng-class="{ 'has-error': MessageBox.email.$error.pattern || MessageBox.email.$error.required }">
                <span class="input-group-addon"><span class="icon-envelope"></span></span>
                <input type="email" class="form-control input-large" ng-model="email" name="email"
                       ng-pattern="EMAIL_REGEXP" placeholder="mail@anywhe.re" required=""/>
            </p>

            <label>Your Password</label>

            <p ng-show="MessageBox.message.$error.required || MessageBox.message.$error.minlength"><span class="warning">Type password!</span></p>

            <p class="input-group" ng-class="{ 'has-error': MessageBox.message.$error.required || MessageBox.message.$error.minlength }">
                <span class="input-group-addon"><span class="icon-pencil"></span></span>
                <input type="password" class="form-control input-large" ng-model="email" name="email"
                       ng-pattern="EMAIL_REGEXP" placeholder="" required=""/>
            </p>


            <p class="text-center">
                <button type="submit" ng-disabled='!MessageBox.$valid || sent' class="btn btn-success btn-large">
                    <!--<span ng-hide="sent || pending">Send Message</span>-->
                    <!--<span ng-show="sent">Message sent.</span>-->
                    <!--<span ng-show="pending">Please, wait ...</span>-->
                    <span>sign in!</span>
                </button>
            </p>

        </form>
    </div>
</div>
