<div class="row" ng-init="signin=true">
    <div class="col-lg-6 col-offset-3">

        <div ng-show="userLoggedIn" ng-controller="SessionCtrl">
            <p>{{currentUser.email}}: You are logged in <button class="btn" ng-click="logout()">logout</button></p>
        </div>

        <div class="panel panel-info" ng-show="signin" ng-hide="userLoggedIn" ng-click="signin=!signin">
            <div class="panel-body">
                <span class="text-primary">You don't have an account? Sign up - click here!</span>
            </div>
        </div>

        <div class="panel panel-info" ng-show="!signin && !userLoggedIn" ng-click="signin=!signin">
            <div class="panel-body">
                <span class="text-primary"><span class="glyphicon glyphicon-arrow-left"></span> If you wish to login and you know your credentials, click here.</span>
            </div>
        </div>

        <form name="SignInForm" ng-controller="SessionCtrl" class="margin-base-vertical" ng-submit="login()" novalidate ng-show="!userLoggedIn && signin">
            <h3 class="margin-base-vertical">Sign In Form</h3>

            <div class="panel panel-danger" ng-show="failed">
                <div class="panel-body">
                    <span class="text-danger">Server says: Login failed! Wait a few seconds for retry ... <img src="/icons/ajax-loader.gif" /></span>
                </div>
            </div>

            <div class="panel panel-warning" ng-show="retry && !failed">
                <div class="panel-body">
                    <span class="text-primary"><span class="glyphicon glyphicon-ok-circle"></span> You probably misspelled your credentials? Correct and try again ...</span>
                </div>
            </div>

            <label for="email">Your Email address</label>

            <p ng-show="SignInForm.email.$error.required"><span class="text-warning">Fill in your email address!</span>
            </p>

            <p ng-show="SignInForm.email.$error.pattern">
                <span class="text-danger">Needs valid pattern such as e.g. name@domain.com!</span></p>

            <p ng-show="SignInForm.email.$valid"><span class="text-success">This is a valid pattern for an email.</span>
            </p>

            <p class="input-group" ng-class="{ 'has-error': SignInForm.email.$error.pattern || SignInForm.email.$error.required }">
                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                <input id="email" type="email" class="form-control input-large" ng-model="email" name="email" ng-pattern="EMAIL_REGEXP" placeholder="" required/>
            </p>

            <label>Your Password</label>

            <p ng-show="SignInForm.password.$error.required"><span class="text-warning">Type password!</span></p>

            <p ng-show="SignInForm.password.$error.minlength"><span class="text-danger">Too short!</span></p>

            <p ng-show="SignInForm.password.$valid">
                <span class="text-success">Hit enter key or click submit if you think password is complete.</span></p>

            <p class="input-group" ng-class="{ 'has-error': SignInForm.password.$error.required || SignInForm.password.$error.minlength }">
                <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
                <input type="password" class="form-control input-large" ng-model="password" name="password"
                       ng-pattern="" placeholder="" ng-minlength="8" required=""/>
            </p>

            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />

            <p class="text-center">
                <button ng-hide="" style="" type="submit" ng-disabled="!SignInForm.$valid || failed || clicked" class="btn btn-success btn-large">
                    <span ng-hide="">Sign in! <img ng-show="clicked" src="icons/ajax-loader_clock.gif" /></span>
                </button>
            </p>

            <p><a class="text-info" ng-click="">I wish to reset my password!</a></p>

        </form>

        <form name="SignUpForm" ng-controller="SessionCtrl" class="margin-base-vertical" ng-submit="signup()" novalidate ng-show="!userLoggedIn && !signin">
            <h3 class="margin-base-vertical">Sign Up Form</h3>

            <div class="panel panel-danger" ng-show="failed">
                <div class="panel-body">
                    <span class="text-danger"><b>Ups, failed! Reason: {{errors[0]}}. Please, wait a few seconds ... <img src="/icons/ajax-loader.gif" /></b></span>
                </div>
            </div>

            <div class="panel panel-warning" ng-show="retry && !failed">
                <div class="panel-body">
                    <span class="text-primary"><span class="glyphicon glyphicon-ok-circle"></span> You can now retry registration or contact <b>support!</b></span>
                </div>
            </div>

            <label for="email">Your Email address</label>

            <p ng-show="SignUpForm.email.$error.required"><span class="text-warning">Fill in your email address!</span>
            </p>

            <p ng-show="SignUpForm.email.$error.pattern">
                <span class="text-danger">Needs valid pattern such as e.g. name@domain.com!</span></p>

            <p ng-show="SignUpForm.email.$valid"><span class="text-success">This is a valid pattern for an email.</span>
            </p>

            <p class="input-group" ng-class="{ 'has-error': SignUpForm.email.$error.pattern || SignUpForm.email.$error.required }">
                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                <input id="email" type="email" class="form-control input-large" ng-model="email" name="email" ng-pattern="EMAIL_REGEXP" placeholder="" required/>
            </p>

            <!--<label>Your Password</label>-->

            <!--<p ng-show="SignUpForm.password.$error.required"><span class="text-warning">Type password!</span></p>-->

            <!--<p ng-show="SignUpForm.password.$error.minlength"><span class="text-danger">Too short!</span></p>-->

            <!--<p ng-show="SignUpForm.password.$valid">-->
                <!--<span class="text-success">Hit enter key or click submit if you think password is complete.</span></p>-->

            <!--<p class="input-group" ng-class="{ 'has-error': SignUpForm.password.$error.required || SignUpForm.password.$error.minlength }">-->
                <!--<span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>-->
                <!--<input type="password" class="form-control input-large" ng-model="password" name="password"-->
                       <!--ng-pattern="" placeholder="" ng-minlength="8" required=""/>-->
            <!--</p>-->

            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />

            <p class="text-center">
                <button ng-hide="" style="" type="submit" ng-disabled="!SignUpForm.$valid || failed || clicked" class="btn btn-success btn-large">
                    <span ng-hide="">Sign Up!<img ng-show="clicked" src="icons/ajax-loader_clock.gif" /></span>
                </button>
            </p>

            <!--<p class="text-info" ng-click="">You'll get logged in automatically upon successfully registration. Password gets mailed to you.</p>-->

        </form>

    </div>
</div>
