<p>Welcome <%= @email %>!</p>

<p>Please confirm your account within the time period granted. Otherwise it will get locked due to security issues.</p>

<p><%= link_to 'Confirm now.', confirmation_url(@resource, :confirmation_token => @token) %></p>

