<!DOCTYPE html>
<!--[if IE 8]>
<html xmlns:ng="http://angularjs.org"
      id="ng-app" "ng-app"="AngularApp" class="lt-ie9 ng-app:AngularApp" lang="de">
<![endif]-->
<!--
  [if gt IE 8]>
  <!
-->
<html ng-app="AngularApp" lang="de">
<!--
  <![endif]
-->
<head>
    <title>Rails4base: solid basis for any project</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => false %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
    <%= csrf_meta_tags %>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
</head>

<body ng-controller="BaseCtrl">

<!--[if lt IE 9]>
<p class="browsehappy">We are sorry, you are using an <strong>outdated</strong> browser. Please <a
        href="http://browsehappy.com/">upgrade
    your browser</a> to run this app.</p>
<![endif]-->

<div class="navbar-wrapper">
    <div class="container">
        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <button ng-show="userLoggedIn" type="button" class="navbar-toggle" data-toggle="collapse" data-target="">
                        <span class="sr-only">Profile</span>
                        <a href="/profile"><span class="glyphicon glyphicon-user white"></span></a>
                    </button>
                    <a class="navbar-brand" href="/">Rails4base</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/home">Home</a></li>
                        <li><a href="/features">Features</a></li>
                        <li ng-show="userLoggedIn"><a href="/profile"><em>You're logged in!</em></a></li>
                        <!--<li class="active"><a href="/login">Login</a></li>-->
                        <!--<li class="active"><a href="/signup">Signup</a></li>-->

                        <!--<li><a href="#about">About</a></li>-->
                        <!--<li><a href="#contact">Contact</a></li>-->
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">Profile
                                <b class="caret"></b></a>
                            <ul class="dropdown-menu" ng-controller="AccountCtrl">
                                <li ng-show="!userLoggedIn"><a href="/login">Login</a></li>
                                <li ng-show="!userLoggedIn"><a href="/signup">Signup</a></li>
                                <li ng-show="userLoggedIn"><a ng-click="logout()">Logout</a></li>
                                <li ng-show="userLoggedIn"><a href="/profile">Edit</a></li>
                                <!--<li><a href="#">Action</a></li>-->
                                <!--<li><a href="#">Another action</a></li>-->
                                <!--<li><a href="#">Something else here</a></li>-->
                                <!--<li class="divider"></li>-->
                                <!--<li class="dropdown-header">Nav header</li>-->
                                <!--<li><a href="#">Separated link</a></li>-->
                                <!--<li><a href="#">One more separated link</a></li>-->
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel" ng-show="!userLoggedIn">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <!--<li data-target="#myCarousel" data-slide-to="2"></li>-->
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img data-src="holder.js/900x500/auto/#777:#7a7a7a/text:First slide" alt="First slide">

            <div class="container">
                <div class="carousel-caption">
                    <h1>Rails4base</h1>

                    <p>This is a working Rails 4 Application built on Torquebox, AngularJS, Devise as a solid Basis for any Project.</p>
                    <!--<p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous"-->
                        <!--Glyphicon buttons on the left and right might not load/display properly due to web browser-->
                        <!--security rules.</p>-->

                    <p><a class="btn btn-lg btn-primary" href="/signup" role="button">Sign up!</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img data-src="holder.js/900x500/auto/#666:#6a6a6a/text:Second slide" alt="Second slide">

            <div class="container">
                <div class="carousel-caption">
                    <h1>Features.</h1>

                    <p>Secure, scalable, easy maintainable.</p>

                    <p><a class="btn btn-lg btn-primary" href="/features" role="button">Learn more</a></p>
                </div>
            </div>
        </div>
        <!--<div class="item">-->
            <!--<img data-src="holder.js/900x500/auto/#555:#5a5a5a/text:Third slide" alt="Third slide">-->

            <!--<div class="container">-->
                <!--<div class="carousel-caption">-->
                    <!--<h1>One more for good measure.</h1>-->

                    <!--<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida-->
                        <!--at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>-->

                    <!--<p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>

<div class="container" ng-show="userLoggedIn" style="height: 150px;">

</div>
<!-- /.carousel -->

<!--<button class="btn btn-default" ng-click="dummyVal=44">set Value</button>-->
<!--{{dummyVal}}-->
<!--<a href="/test">test</a>-->
<!--<a href="/home">home</a>-->
<!--<b>angular partials:</b>-->

<div ng-show="loadingTemplate" class="container" style="height: 200px;">
    <div class="row featurette">
        <div class="col-md-7">
            <h2><img src="/assets/static/icons/spinner_32x32.gif"></h2>
        </div>
    </div>
</div>


<div ng-view ng-hide="loadingTemplate" id="partial" class="container"></div>


<!-- Marketing messaging and featurettes
    ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <!-- FOOTER -->
    <footer>
        <!--<p class="pull-right"><a href="#">Back to top</a></p>-->
        <p>&copy; 2014 <a href="http://seamlesslywired.com">seamlesslywired.com</a>
            <!--&middot;-->
            <!--<a href="#">Privacy</a> &middot; <a href="#">Terms</a>-->
        </p>
    </footer>

</div><!-- /.container -->


</body>
</html>
