<!DOCTYPE html>
<!--[if IE 8]>
<html xmlns:ng="http://angularjs.org"
      id="ng-app" "ng-app"="AngularApp" class="lt-ie9 ng-app:AngularApp" lang="de">
<![endif]-->
<!--
  [if gt IE 8]>
  <!
-->
<html ng-app="AngularApp" lang="de">
<!--
  <![endif]
-->
<head>
    <title>Angular + Rails Base App</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => false %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
    <%= csrf_meta_tags %>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
</head>

<body>

<!--[if lt IE 9]>
<p class="browsehappy">We are sorry, you are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to run this app.</p>
<![endif]-->

<div class="row">
    <% if Rails.env.development? %>
        <div class="col-lg-12">
            <em>{{40+4}}</em>

            <div style="float: none;">
                <button ng-click="showConsole=!showConsole">toggle console</button>
                <!-- <input name="topic" type="text" ng-model="logFilter" ng-show="showConsole" style="border: 1px solid grey;"> -->
                <div console="" messages="loggerService" ng-show="showConsole"></div>
            </div>
        </div>
    <% end %>

    <%= yield %>
</div>

</body>
</html>
